<%- include ('./partials/header.ejs') %>
<%- include ('./partials/navbar.ejs')  %> 
    <div class="conatiner">
        <div class="row">
            <h2>Home</h2> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel cum enim debitis magni? Sequi aliquam iusto velit molestiae tenetur consequatur atque veritatis aperiam labore, debitis totam libero sunt quo, distinctio soluta iste maiores quasi dolore accusantium vero. Voluptatem eum inventore, voluptatibus neque veritatis nulla nisi at vel sunt dolore quia rem maxime similique doloribus excepturi ut nesciunt deserunt odio deleniti debitis asperiores distinctio animi accusantium ipsa. Quos odit accusantium maiores reiciendis, nemo voluptatem eaque aperiam deserunt qui modi? Voluptatibus 
                obcaecati adipisci numquam? Deleniti molestias quod maxime facilis id consequatur officiis cum vero totam. Incidunt modi voluptates odio fugiat ducimus. Qui.</p>
        
        </div>
    </div>
   
<%- include('./partials/footer.ejs')  %> 